/* src/App.css */
.App {
  text-align: center;
  background-color: #121212; /* Dark background for the app */
  color: #fff; /* White text color */
  padding: 20px;
}

h1 {
  color: #ffffff;
}
